*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #534C64;
    font-weight: 400;
}
h1,h2,h3,h4{
    color: #0B0223;
    font-weight: 700;
}
/* Nav section start */
nav{
    width: 80%;
    margin: 0px auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    /* box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05); */
}
.nav-logo{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.nav-logo img{
    width: 85px;
    height: 40px;
}
.nav-logo h2{
    font-size: 45px;
}
.nav-logo h2 span{
    color: #ff42A5;
}

menu ul{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}
menu ul li a{
    text-decoration: none;
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
}
menu ul .media{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 30px;
}
menu ul .media .fa-youtube{
    color: #F61C0D;
    margin:0 8px;
}
/* Nav Section end */

/* Bannar Section start */
.bannar{
    padding-right: 10%;
    background: #FFF;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    
}
.bannar-info{
    background-image: url("img/Group\ 14.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannar-info .bannar-title{
    font-size: 3rem;
}
.bannar-info .bannar-title .goat{
    font-size: 5rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bannar .bannar-img img{
    
    width:100%;
}
.bannar-dis p{
    font-size: 20px;
    font-weight: 500px;
    margin-top: 15px;
    color: #534C64;;
}
.bannar-dis .fa-solid{
    margin-right: 10px;
}
.bannar-dis .fa-arrow-down{
    color: #F61C0D;
}
.bannar-dis .fa-regular{
    color: #F61C0D;
    margin-right: 10px;
}

.bannar-btn{
    margin-top: 50px;
}
.bannar-btn .btn-1{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 15px 30px;
    color: #FFF;
    border: none;
    font-size: 20px;
    margin-right: 50px;
}
.bannar-btn .btn-2{
    border-radius: 48px;
    background-color: #4EC5F7;;
    padding: 15px 30px;
    color: #FFF;
    border: none;
    font-size: 20px;
    margin-right: 50px;
}
/* bannar section end */

/* Online game section start */
.online-game{
    width: 80%;
    margin: 100px auto;
}
.online-info{
    text-align: center;
    margin-bottom: 40px;
}
.online-info .online-title{
    font-size: 3rem;
    margin-bottom:20px;
}

.online-info .online-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-info .online-dis{
    font-size: 18px;
}
.online-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2%;
}
.online-img-1 .img-1{
    background: url("img/Rectangle\ 4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 50% 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15px;
}
.online-img-1 .img-1:hover{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("img/Rectangle\ 4.png");
    border-radius: 15px;
    border: 2px solid #F948B2;
    
}
.online-img-2 .img-2{
    background: url("img/Rectangle\ 5.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 50% 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15px;
}
.online-img-2 .img-2:hover{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("img/Rectangle\ 5.png");
    border-radius: 15px;
    border: 2px solid #F948B2;
}
.online-img-3 .img-3{
    background: url("img/Rectangle\ 7.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 50% 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15px;
}
.online-img-3 .img-3:hover{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("img/Rectangle\ 7.png");
    border-radius: 15px;
    border: 2px solid #F948B2;
}
.online-img-4 .img-4{
    background: url("img/Rectangle\ 6.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 50% 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15px;
}
.online-img-4 .img-4:hover{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("img/Rectangle\ 6.png");
    border-radius: 15px;
    border: 2px solid #F948B2;
}
.watch{
    text-align: center;
    opacity: 0;
}
.img-1:hover .watch{
    opacity: 1;
}
.img-2:hover .watch{
    opacity: 1;
}
.img-3:hover .watch{
    opacity: 1;
}
.img-4:hover .watch{
    opacity: 1;
}
.watch p{
    color:#F948B2;
}
.fa-regular{
    background-color: #fff;
    font-size: 30px;
    border-radius: 50%;
}
.online-img-1 img,.online-img-2 img,.online-img-3 img,.online-img-4 img{
    margin-bottom: 20px;
    width: 100%;
}
.online-img-1 p,.online-img-2 p,.online-img-3 p,.online-img-4 p{
    line-height: 25px;
    font-size: 20px;
}
/* online section end */

/* play game start */
.play-game{
    display: flex;
    width: 80%;
    gap:10%;
    margin: 0 auto;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
}
.play-game-info{
    width: 50%;
}
.play-game-img{
    position: relative;
}
.play-game-img img{
    width: 100%;
}
.big-img img{
   width: 50%;
   height: 55%;
   position: absolute;
   right:-80px;
   bottom: -80px;
    
}
.play-game-info .play-game-title{
    font-size: 3rem;
    margin-bottom:20px;
}

.play-game-info .play-game-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-game-info .play-game-dis{
    font-size: 18px;
    line-height: 30px;
}
/* game-store scetion start */
.game-store{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 40px;
    width:80%;
    margin: 100px auto;
    justify-content: center;
    text-align: center;
}
.store{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 30px;
    border:1px solid transparent;
}
.store:hover{
    border: 1px solid #F948B2;
    color: #F948B2;
}
.store img{
    width: 50px;
    height: 50px;
}
.store p{
    color: #0B0223;
    font-weight: 500;
    font-size: 18px;
}
.store:hover p{
    color: #F948B2;
}
/* game-store scetion end */

/*footer section start  */
footer{
    background-color: #0B0223;
    text-align: center;
    padding: 100px 0;
    color: #FFF;
}

.footer-logo{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    width: 85px;
    height: 40px;
}
.footer-logo h2{
    font-size: 45px;
    color: #FFF;
}
.footer-logo h2 span{
    color: #ff42A5;
}

.footer-menu ul {
    justify-content: center;
    display: flex;
    gap: 4%;
    list-style: none;
    margin: 3% 0px;
}

.footer-menu ul li a{
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.footer-icon ul{
    display: flex;
    gap: 10%;
    justify-content: center;
    margin-bottom: 3%;
    list-style: none;
}
.footer-icon .fa-brands{
    font-size: 40px;
    
}
.footer-icon .fa-twitter{
    color: #00ACEE;
}
.footer-icon .fa-facebook{
    color: #fff;
    background-color:#3b5998;
    border-radius: 50%;
}
.footer-icon .fa-youtube{
    color: #F61C0D;
    
}
.footer-more-dis ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 4%;
    margin-bottom: 2%;
}
.footer-more-dis ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60); 
    font-size: 16px;
    font-weight: 500;
}
.copyright{
    color: rgba(255, 255, 255, 0.60); 
}
/*footer section end  */
/* Online game section end */

/* Mobile veiw */
@media screen and (max-width: 576px) {
    nav{
        display: block;
        
    }
    menu ul{
        display: block;
        text-align: center;
    }
    menu ul li{
        margin-top: 25px;
    }
    .media{
       width: 60%;
       margin: 30px auto;
    }
    /* bannar section */
    .bannar{
        display: grid;
        grid-template-columns: 1fr;
    }
    .bannar-info{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 10%;
        width: 80%;

    }

    .bannar-info .bannar-title{
        font-size: 2rem;
    }
    .bannar-info .bannar-title .goat{
        font-size: 3rem;
    }
    .bannar .bannar-img img{
        
        width:100%;
    }
    .bannar-dis p{
        font-size: 18px;
    }
    .bannar-btn{
        display: flex;
        margin-top: 50px;
        justify-content: center;
    }
    .bannar-btn .btn-2,.bannar-btn .btn-1{
        padding: 10px 25px;
        font-size: 18px;
        margin-right: 20px;
    }
    .bannar-img{
        width: 80%;
        margin: 0 auto;
    }
    /* online game section */
    .online-img{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .online-img-1 .img-1{
        padding: 50% 0;
        margin: 0 auto;
    
    }
    .online-img-4{
        margin-bottom: 60px;
    }

    .game-store{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    .store img{
        width: 40px;
        height: 40px;
    }
    .store p{
        font-size: 16px;
    }
    /* footer sectoin */
    .footer-menu ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        width: 75%;
        margin: 40px auto;
    }
    .footer-more-dis ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 75%;
        gap: 20px;
        width: 75%;
        margin: 40px auto;
    }
    .play-game{
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0 auto;
    }
    .play-game-img img{
        width: 100%;
    }
    .big-img img{
        width: 50%;
        right: 0;
    }
    .play-game-info{
        width: 100%;
        margin: 10% 0px;
    }
}

@media screen and (min-width: 577px) and (max-width: 900px) {
    /* nav section */
    nav{
        display: block;
        width: 58%;
        margin: 0 auto;
    }
    .nav-logo{
        margin-bottom: 20px;
    }
    .online-img{
        width: 80%;
        margin: 0 auto;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .bannar{
        display: grid;
        grid-template-columns: 1fr;
    }
    .bannar-info{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 10%;
        width: 80%;

    }
    .bannar-img{
        width: 80%;
        margin: 0 auto;
    }
    .play-game{
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0 auto;
    }
    .play-game-img img{
        width: 100%;
    }
    .big-img img{
        width: 50%;
        right: 0;
    }
    .play-game-info{
        width: 100%;
        margin: 10% 0px;
    }
    .game-store{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
    }
    .store img{
        width: 40px;
        height: 40px;
    }
    .store{
        padding: 5px 10px;
    }
    .footer-menu ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        width: 75%;
        margin: 40px auto;
    }
    .footer-more-dis ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 75%;
        gap: 20px;
        width: 75%;
        margin: 40px auto;
    }
}